<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restfuls APIs Example</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <h2> Movie lists </h2>
      {% if data %}
	    <ul>
		   {% for item in data %}
			  {% if item.title %}
				<li> <h6> {{ item.title|upper }} </h6> </li>
				<ul> 
				{% if item.people %}
					{% for name in item.people %}
					   <li> {{ name }}  </li>
					{% endfor %}
				{% endif %}
				</ul>
			  {% endif %}	
		   {% endfor %}
		</ul>
	  {% endif %}
   </div>
 </body>
</html>